<% @page_title = @project.name %>

<% content_for :header do %>
  <nav>
    <%= link_to projects_path, class: "btn flex-item-justify-start" do %>
      <%= image_tag "grid.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Projects</span>
    <% end %>

    <h1 class="txt-xx-large margin-none flex align-center gap-half">
      Bubbled up in <%= @project.name %>

      <% if @tag %>
        tagged <%= @tag.title %>

        <%= link_to project_bubbles_path(@project), class: "btn txt-small" do %>
          <%= image_tag "remove.svg", aria: { hidden: true }, size: 24 %>
          <span class="for-screen-reader">Clear</span>
        <% end %>
      <% end %>
    </h1>

    <%= button_to project_bubbles_path(@project), method: :post, params: { bubble: { title: "Untitled"} }, class: "btn btn--plain", form_class: "flex-item-justify-end" do %>
      <%= image_tag "bubble-add.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Create a new bubble</span>
    <% end %>
  </nav>
<% end %>

<section class="windshield flex-inline flex-wrap gap-half justify-center align-end">
  <% cache([@most_active_bubbles, 'stable_shuffle']) do %>
    <%= render @most_active_bubbles.sort_by { |bubble| Digest::MD5.hexdigest("#{bubble.id}#{@most_active_bubbles.cache_key}") } %>
  <% end %>
</section>

<section class="bubbles-list unpad-inline center margin-block-start">
  <ul class="unpad margin-none flex flex-column txt-align-start center">
    <%= render partial: "bubbles/list/bubble", collection: @bubbles %>
  </ul>
</section>
