<div class="card__meta flex txt-tight-lines txt-uppercase">
  <div class="flex flex-column gap txt-align-end">
    <span class="pad-inline overflow-ellipsis"><%= card.creating? ? "Added" : "Updated" %>
      <%= local_datetime_tag(card.updated_at, style: :daysago) %>
    </span>

    <hr class="full-width separator--horizontal unpad margin-none">

    <% if card.creating? %>
      <span class="pad-inline overflow-ellipsis">Expires
        <%= local_datetime_tag(card.auto_close_at, style: :indays) %>
      </span>
    <% else %>
      <span class="pad-inline overflow-ellipsis">Added
        <%= local_datetime_tag(card.created_at, style: :daysago) %>
      </span>
    <% end %>
  </div>

  <hr class="separator margin-none unpad">

  <div class="flex flex-column gap txt-align-start">
    <span class="pad-inline overflow-ellipsis">
      <strong><%= card.comments_count %></strong> <%= card.comments_count == 1 ? "comment" : "comments" %>
    </span>

    <hr class="full-width separator--horizontal unpad margin-none">

    <%= yield %>
  </div>
</div>
