<%= access_menu_tag collection, class: "settings__user-filter settings__user-filter--bg" do %>
  <li class="flex align-center gap">
    <figure class="avatar" style="--avatar-border-radius: 0; --avatar-size: 3.5ch; margin-inline: 0.3em;">
      <%= icon_tag "everyone" %>
      <span class="for-screen-reader">Everyone</span>
    </figure>

    <div class="min-width">
      <div class="overflow-ellipsis fill-shade"><strong>Everyone</strong></div>
    </div>

    <hr class="separator--horizontal flex-item-grow" style="--border-color: var(--color-ink-medium); --border-style: dashed" aria-hidden="true" />

    <label for="collection_all_access" class="switch">
      <%= form.check_box :all_access, class: "switch__input", checked: collection.all_access?, data: { action: "change->toggle-class#toggle" } %>
      <span class="switch__btn round"></span>
      <span class="for-screen-reader">Give everyone access to this project</span>
    </label>
  </li>

  <input placeholder="Filter…" class="input input--transparent full-width" type="search" autocorrect="off" autocomplete="off" data-1p-ignore="true" data-filter-target="input" data-action="input->filter#filter">

  <ul class="settings__user-list" data-filter-target="list">
    <%= access_toggles_for selected_users, selected: true %>
    <%= access_toggles_for unselected_users, selected: false %>
  </ul>

  <footer class="settings__user-list-tips">
    Press <kbd class="kbd">↑</kbd><kbd class="kbd">↓</kbd> to move, <kbd class="kbd">enter</kbd> to visit profile, <kbd class="kbd">SHIFT+ENTER</kbd> to toggle.
  </footer>
<% end %>
