<turbo-frame id="new_category">
  <%= form_with model: [@bubble, @category], data: { turbo_frame: "_top" } do |form| %>
      <%= form.text_field :title, class: "input borderless", autofocus: "on", list: "categories-list" %>
      <%= form.submit "Create Category", hidden: true %>

      <datalist id="categories-list">
        <%= Category.all.each do | category | %>
          <option value="<%= category.title %>"></option>
        <% end %>
      </datalist>
  <% end %>
</turbo-frame>
