<dialog class="filter__popup dialog panel fill-white shadow" aria-label="Filter" aria-description="Filter" data-dialog-target="dialog">
  <div class="flex flex-column gap-half">
    <div class="flex align-center gap-half justify-space-between">
      <span class="btn btn--placeholder txt-small" aria-hidden="true"></span>

      <h2 class="txt-large flex align-center gap-half margin-none">
        <%= image_tag "filter.svg", aria: { hidden: true }, size: 30 %>
        <span>Filter</span>
      </h2>

      <form method="dialog">
        <button class="btn panel__close txt-small" title="Close (esc)">
          <%= image_tag "remove.svg", aria: { hidden: true }, size: 24 %>
          <span class="for-screen-reader">Close</span>
        </button>
      </form>
    </div>

    <div class="pad fill-shade border-radius margin-block-end">
      <%= form_tag bubbles_path, class: "flex align-center gap input input--actor txt-small fill-white border-radius", method: :get do %>
        <% @filter.as_params.each do |key, value| %>
          <%= filter_hidden_field_tag key, value %>
        <% end %>

        <%= search_field_tag "terms[]", nil, class: "input full-width", placeholder: "By keyword…", id: nil %>

        <button class="btn">
          <span class="for-screen-reader">Apply</span>
          <%= image_tag "arrow-right.svg", aria: { hidden: true }, size: 24 %>
        </button>
      <% end %>
    </div>

    <%= form_with url: bubbles_path, id: :filter_form, method: :get, class: "flex flex-column gap full-width", style: "--border-color: var(--color-subtle)" do %>
      <% Array(params[:terms]).each do |term| %>
        <%= hidden_field_tag "terms[]", term, id: nil %>
      <% end %>

      <div class="filter__columns flex gap">
        <div class="filter__menu" role="group" aria-label="Sort by">
          <div class="filter__label"><strong>Sort by</strong></div>
          <div>
            <label class="btn filter__button">
              <%= radio_button_tag "indexed_by", filter.default_indexed_by, filter.default_indexed_by?, class: "visually-hidden" %>
              <span>Most active</span>
              <%= image_tag "close.svg", aria: { hidden: true }, size: 24 %>
            </label>
          </div>

          <% Filter::INDEXES.each do |index| %>
            <div>
              <label class="btn filter__button">
                <%= radio_button_tag "indexed_by", index, filter.indexed_by == index, class: "visually-hidden" %>
                <span><%= index.humanize %></span>
                <%= image_tag "close.svg", aria: { hidden: true }, size: 24 %>
              </label>
            </div>
          <% end %>
        </div>

        <div class="filter__menu" role="group" aria-label="In Collection">
          <div class="filter__label"><strong>In Collection</strong></div>

          <div>
            <%= button_tag type: :button, class: "btn filter__button", data: { action: "filter-form#clearCategory", filter_form_name_param: "bucket_ids[]" } do %>
              <span>All Collections</span>
            <% end %>
          </div>
          <% Current.user.buckets.order(:name).each do |bucket| %>
            <div>
              <label class="btn filter__button">
                <%= check_box_tag "bucket_ids[]", bucket.id, filter.buckets.include?(bucket), class: "visually-hidden" %>
                <span><%= bucket.name %></span>
                <%= image_tag "close.svg", aria: { hidden: true }, size: 24 %>
              </label>
            </div>
          <% end %>
        </div>

        <div class="filter__menu" role="group" aria-label="Tagged">
          <div class="filter__label"><strong>Tagged</strong></div>
          <% Current.account.tags.order(:title).each do |tag| %>
            <div>
              <label class="btn filter__button">
                <%= check_box_tag "tag_ids[]", tag.id, filter.tags.include?(tag), class: "visually-hidden" %>
                <span><%= tag.hashtag %></span>
                <%= image_tag "close.svg", aria: { hidden: true }, size: 24 %>
              </label>
            </div>
          <% end %>
        </div>

        <div class="filter__menu" role="group" aria-label="Assigned to…">
          <div class="filter__label"><strong>Assigned to…</strong></div>
          <div>
            <label class="btn filter__button">
              <%= check_box_tag "assignment_status", "unassigned", filter.assignment_status.unassigned?,
                    class: "visually-hidden",
                    data: {
                      action: "filter-form#clearCategory", 
                      filter_form_name_param: "assignee_ids[],assigner_ids[]" } %>
              <span>No one</span>
              <%= image_tag "close.svg", aria: { hidden: true }, size: 24 %>
            </label>
          </div>
          <div>
            <label class="btn filter__button">
              <%= check_box_tag "assignee_ids[]", Current.user.id, filter.assignees.include?(Current.user),
                    class: "visually-hidden",
                    data: { action: "filter-form#clearCategory", filter_form_name_param: "assignment_status" } %>
              <span>Me</span>
              <%= image_tag "close.svg", aria: { hidden: true }, size: 24 %>
            </label>
          </div>
          <% Current.account.users.active.without(Current.user).order(:name).each do |user| %>
            <div>
              <label class="btn filter__button">
                <%= check_box_tag "assignee_ids[]", user.id, filter.assignees.include?(user), class: "visually-hidden",
                      data: { action: "filter-form#clearCategory", filter_form_name_param: "assignment_status" } %>
                <span><%= user.name %></span>
                <%= image_tag "close.svg", aria: { hidden: true }, size: 24 %>
              </label>
            </div>
          <% end %>
        </div>

        <div class="filter__menu" role="group" aria-label="Added by…">
          <div class="filter__label"><strong>Added by…</strong></div>
          <div>
            <label class="btn filter__button">
              <%= check_box_tag "creator_ids[]", Current.user.id, filter.creators.include?(Current.user),
                    class: "visually-hidden" %>
              <span>Me</span>
              <%= image_tag "close.svg", aria: { hidden: true }, size: 24 %>
            </label>
          </div>
          <% Current.account.users.active.without(Current.user).order(:name).each do |user| %>
            <div>
              <label class="btn filter__button">
                <%= check_box_tag "creator_ids[]", user.id, filter.creators.include?(user), class: "visually-hidden" %>
                <span><%= user.name %></span>
                <%= image_tag "close.svg", aria: { hidden: true }, size: 24 %>
              </label>
            </div>
          <% end %>
        </div>

        <div class="filter__menu" role="group" aria-label="In Stage">
          <div class="filter__label"><strong>In Stage</strong></div>
          <% Current.account.workflows.order(:name).each do |workflow| %>
            <div class="filter__label"><strong><%= workflow.name %></strong></div>

            <% workflow.stages.order(:name).each do |stage| %>
              <div>
                <label class="btn filter__button">
                  <%= check_box_tag "stage_ids[]", stage.id, filter.stages.include?(stage), class: "visually-hidden" %>
                  <span><%= stage.name %></span>
                  <%= image_tag "close.svg", aria: { hidden: true }, size: 24 %>
                </label>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="flex align-center txt-align-center justify-space-between gap-half margin-block-start">
      <%= tag.button class: "btn", form: :filter_form, formaction: filters_path, formmethod: :post do %>
        <%= image_tag "bubbles.svg", aria: { hidden: true }, size: 24 %>
        <span>Save collection</span>
      <% end %>

      <button class="btn btn--reversed" form="filter_form">
        <span>Apply</span>
        <%= image_tag "arrow-right.svg", aria: { hidden: true }, size: 24 %>
      </button>
    </div>
  </div>
</dialog>
